<mat-card>
    <h1>Add question to {{qTitle}}</h1>
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="submit()" >
                        <!-- content input -->
                        <!-- <mat-form-field class="w100" appearance="outline">
                            <mat-label>Question</mat-label>
                            <input matInput required name="content" [(ngModel)]="question.content" type="text">
                        </mat-form-field> -->
                        <ckeditor 
                        [editor]="Editor" 
                        data="<h1>Question</h1>"
                        name="content"
                        class="w100"
                        [(ngModel)]="question.content">
                        </ckeditor>

                        <!-- option 1 and 2 -->
                        <div class="row">
                            <div class="col-md-6">
                                <!-- content Option1 -->
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Option 1</mat-label>
                                    <input required matInput name="option1" [(ngModel)]="question.option1" type="text">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <!-- content Option2 -->
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Option 2</mat-label>
                                    <input required matInput name="option2" [(ngModel)]="question.option2" type="text">
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- option 3 and 4 -->
                        <div class="row">
                            <div class="col-md-6">
                                <!-- content Option3 -->
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Option 3</mat-label>
                                    <input required matInput name="option3" [(ngModel)]="question.option3" type="text">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <!-- content Option4 -->
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Option 4</mat-label>
                                    <input required matInput name="option4" [(ngModel)]="question.option4" type="text">
                                </mat-form-field>
                            </div>
                        </div>
                          
                        <!-- content answer -->
                        <mat-form-field class="w100" >
                            <mat-label>Select Answer</mat-label>
                            <mat-select name="answer" [(ngModel)]="question.answer">
                                <mat-option *ngIf="question.option1" [value]="question.option1">{{question.option1}}</mat-option>
                                <mat-option *ngIf="question.option2" [value]="question.option2">{{question.option2}}</mat-option>
                                <mat-option *ngIf="question.option3" [value]="question.option3">{{question.option3}}</mat-option>
                                <mat-option *ngIf="question.option4" [value]="question.option4">{{question.option4}}</mat-option>
                            </mat-select>
                            <!-- <input required matInput name="answer" [(ngModel)]="question.answer" type="text">
                             -->
                        </mat-form-field>

                        <div class="container text-center">
                            <button mat-raised-button color="primary"  type="submit">Add</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</mat-card>